<html lang="en">
<head>
    {%load staticfiles%}
    <meta charset="UTF-8">
    <title>New Album</title>
	<link rel="stylesheet" type="text/css" href="{% static 'photo/css_login/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photo/css_login/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photo/css_login/form_style.css' %}" />
	<link rel="stylesheet" href="{% static 'photo/font-awesome/css/font-awesome.min.css' %}">
	<style type="text/css">
		#upload_image
		{
			height: 100%;
			width: 100%;
		}
		#desc, #desc input
		{
			height: 100px;
		}

	</style>
</head>
<body>
<div class="reg_form">
<form name= "upload" id="sky-form" class="sky-form" method="POST" action="/photo/create_album/" enctype="multipart/form-data">
	{% csrf_token %}
				<header>Create a new Album</header>

				<fieldset>
					<section>
						<label class="input">
							<i class="icon-append icon-envelope-alt"></i>
							<input type="text" name="album_name" placeholder="Album name">
							<b class="tooltip tooltip-bottom-right">Tell us more about this Memory</b>
						</label>
					</section>
                    <section>
						<label class="textarea" id="desc">
							<i class="icon-append icon-envelope-alt"></i>

                            <textarea type="text" name="description" placeholder="Description"></textarea>
							<b class="tooltip tooltip-bottom-right">Tell us more about this Memory</b>
						</label>
					</section>
					<section>
						<a href="#" onclick="openFileOption();return;"><img id="blah" width="200px" height ="auto" src="{% static 'photo/img/upload.jpg' %}">
						<input type="file" id="file1" name="image" style="display:none;" onchange="readURL(this);"/>
						</br>
						<label>
							Click here to choose cover photo
						</label>
						</a>
					</section>
				</fieldset>

				<fieldset>
					<div class="row">
						<section class="col col-6">
							<label class="select multiple_select">
								<select name = "Users" multiple>
									{%for user in all_users %}
										<option value="{{user.id}}"> {{user.get_full_name}}</option>
									{%endfor%}
								</select>
							</label>
						</section>
					</div>
				</fieldset>
				<footer>
					<div class="fright">
                    <input type="submit" value="Create" name="submit" class="button">
					
                    </div>
                    <a href="{% url 'albums' %}" class="button button-secondary">Cancel</a>
                    
				</footer>
			</form>
</div>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
	$("#uploadTrigger").click(function(){
   $("#uploadFile").click();
});

		function openFileOption()
	{
		document.getElementById('file1').click();
	}

	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150);

            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>