<html>
<head>
    <title>Phileikones</title>
    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'photo/style.css' %}" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <style type="text/css">
        #back{
            position: fixed;
            left: 3%;
            top: 5%;
        }
    </style>
</head>

<body>
    
    {% block content %}
    <div class="main">

        <!-- Albums  -->
        <!--
        </ul>-->
        <div id ="nav" class="blurred-bg tinted">
            <div class="content">
                <a class="pure-button" id="back" href="{% url 'index' %}">Back</a>
                <h1>PHILEIKONES</h1>
            </div>
        </div>
         <div id="box1" class="box blurred-bg tinted">
            <div class="content">
                <h1>Search Result</h1>
                <ul>
                    {% for img in photos %}
                    <li>
                        <a href="{% url 'photo_detail' img.id %}"><img class="blurred-bg" border="0" alt=""
                                src="{{ img.image.url }}" />
                            </br>
                        <p>{{img.title}}</p>
                        </a>
                    </li>
                    </br></br>
                    {% endfor %}
                </ul>
            </div>
         </div>
        <!-- Next/Prev page links  -->
       <!-- {% if albums.object_list and albums.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if albums.has_previous %}
                    <a href= "?page={{ albums.previous_page_number }}">previous &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ albums.number }} of {{ albums.paginator.num_pages }}
                </span>

                {% if albums.has_next %}
                    <a href="?page={{ albums.next_page_number }}"> &gt;&gt; next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
 -->
    </div>

    {% endblock %}
    <script type="text/javascript">
        var _nav_top = $("#nav").scrollTop();
        var _top = $(window).scrollTop();
        var _direction;
        $(window).scroll(function(){
            var _cur_top = $(window).scrollTop();
            if(_top < _cur_top)
            {
                //down
                _nav_top = _nav_top -1;
                $("#nav").scrollTop(_nav_top);
            }
            else
            {
                //up
            }
            _top = _cur_top;
            
        });

    </script>
</body>
</html>
